<div *ngIf="showAlarm" class="list-group-item list-group-item-success">
  <form *ngxPermissionsOnly="['[ADMIN]','[SUPERUSER]']" [formGroup]="createAlarmForm" (ngSubmit)="addNewAlarm()" style="width:100%">
    <div class="form-group" class="d-flex justify-content-around">
      <textarea id="question" required rows="1" placeholder="Write new alarm here!" class="form-control pb-answer-textarea col-10 col"
        formControlName="query"></textarea>
      <button id="add-question" type="submit" class="btn btn-primary btn-sm ml-auto" [disabled]="!createAlarmForm.valid">
        Add Alarm
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>

<div *ngIf="!showAlarm" class="list-group-item list-group-item-success">
  <form *ngxPermissionsOnly="['[ADMIN]','[SUPERUSER]']" [formGroup]="updateAlarmForm" (ngSubmit)="updateAlarm()" style="width:80%">
    <div class="form-group" class="justify-content-around d-flex align-items-center">
      <textarea id="question" required rows="1" placeholder="Write new alarm here!" class="form-control pb-answer-textarea col col-9"
        formControlName="query"></textarea>
      <button id="add-question" type="submit" class="btn btn-primary btn-sm ml-auto col col-2" [disabled]="!updateAlarmForm.valid">
        Update Alarm
      </button>
    </div>
  </form>
  <button *ngxPermissionsOnly="['[ADMIN]','[SUPERUSER]']" (click)="cancelUpdate()" class="btn btn-danger btn-sm ml-auto col col-2">Cancel</button>
</div>

<div *ngIf="alarmi" class="container" style="padding:3%">
  <div *ngFor="let alarm of alarmi; let i = index">
    <div class="list-group-item list-group-item-success">
      Alarm: {{alarm.query}}
    </div>
    <div class="list-group-item list-group-item-info d-flex justify-content-end" style="margin-bottom: 2px">
      <button *ngxPermissionsOnly="['[ADMIN]','[SUPERUSER]']" (click)="showUpdate(alarm,i)" class="btn btn-primary btn-sm" style="margin-right: 2%">Update Alarm</button>
      <button *ngxPermissionsOnly="['[ADMIN]','[SUPERUSER]']" (click)="deleteAlarm(alarm._id.$oid, i)" class="btn btn-danger btn-sm">Delete Alarm</button>
    </div>
  </div>
</div>