<div id="change-password" class="mainContainer d-flex justify-content-center">
  <div class="card my_card">
    <div class="col-md-12 col-md-offset-3" id="logreg">
      <form id="changePasswordForm" class="form-horizontal" role="form" [formGroup]="changePasswordForm" (ngSubmit)=changeUserPass(changePasswordForm.value)>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon my_span">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </span>
          <input type="password" class="form-control my_input" name="old_password" formControlName="old_password" formControlName="old_password"
            value="" placeholder="Input Old Password">
        </div>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon my_span">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input type="password" class="form-control my_input" name="new_password" formControlName="new_password" formControlName="new_password"
            placeholder="Input New Password">
        </div>
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon my_span">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input type="password" class="form-control my_input" name="repeat_new_password" formControlName="repeat_new_password" formControlName="repeat_new_password"
            placeholder="Repeat New Password">
        </div>
        <div style="margin-top:10px" class="form-group align-self-right">
          <div class="col-sm-12 controls">
            <input id='login-button' type="submit" class="btn btn-success" [disabled]="!changePasswordForm.valid" value="Change Password">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>